## Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.

Input Format:
The first line of the input contains an email address.

Output Format:
Print the company name in single line.

Example;
Input:
john@google.com

Output:
google

In [31]:
import re
mail = input("Please enter your professional e-mail ID: username@companyname.com format :\t")


company = re.findall(r"[\w']+", mail)
print(str(company[1]))

Please enter your professional e-mail ID: username@companyname.com format :	mohammedazeem@letsupgrade.com
letsupgrade

## Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.


Input Format:
The first line of input contains words separated by the comma.

Output Format:
Print the sorted words separated by the comma.

Example:
Input:
without,hello,bag,world

Output:
bag,hello,without,world

In [51]:
user_input = list(map(str, input("Enter words by separating them with ',' ").split(', ')))
print("\n the entered comma separated values are", user_input)

user_input.sort()
print(user_input)

Enter words by separating them with ',' AI, ML, LetsUpgrade, Challenge, Accepted

 the entered comma separated values are ['AI', 'ML', 'LetsUpgrade', 'Challenge', 'Accepted']
['AI', 'Accepted', 'Challenge', 'LetsUpgrade', 'ML']

### Create your own Jupyter Notebook for Sets.

Reference link: https://www.w3schools.com/python/python_sets.asp

### SETS are unordered & unindexed

In [100]:
s1 = {'AI', 'ML', 'learning', '2020'} #creating a list.                           ?How the order is decided for printing output?
print(s1) 
for x in s1:
    print(x, end=' | ')

{'learning', 'AI', 'ML', '2020'}
learning | AI | ML | 2020 |

In [101]:
print('learning' in s1) #returns a boolean for elemets in set or not

True

In [102]:
s1.add('challenge') #adds a new element to the set by taking only one argument                ?? Position where it gets added??
s1

{'2020', 'AI', 'ML', 'challenge', 'learning'}

In [123]:
s1 = {'AI', 'ML', 'learning', '2020'}
s1.update('accepted','working smart')  #To update multiple items pass them as list using update() function.
print(s1)

{'learning', '2020', 'c', 'k', 'a', 't', 'w', 'ML', 'i', ' ', 'p', 's', 'n', 'm', 'r', 'd', 'o', 'g', 'e', 'AI'}

In [135]:
s1 = {'AI', 'ML', 'learning', '2020'}
s1.update(["accepted","working smart"])  
print(s1)

{'learning', '2020', 'ML', 'accepted', 'working smart', 'AI'}

In [136]:
print(len(s1)) #to know the length/number of elements in the set

6

In [137]:
s1.remove("be smart")  #remove function raises error if element to be removed not in the set
s1

KeyError: 'be smart'

In [138]:
s1.remove("working smart") # removes the element specified int the set
print(s1)

{'learning', '2020', 'ML', 'accepted', 'AI'}

In [139]:
s1.discard("abc")  # No error even though the name isn'tin the set
s1

{'2020', 'AI', 'ML', 'accepted', 'learning'}

In [140]:
s1.discard("accepted")
s1

{'2020', 'AI', 'ML', 'learning'}

In [141]:
s1.pop() # removes last entry & since sets are unordered so, we do not know what is being removed.
s1

{'2020', 'AI', 'ML'}

In [142]:
s1.clear()
s1

set()

In [143]:
del s1  #deletes the set completely.
s1

NameError: name 's1' is not defined

In [144]:
s1={"a","b","c","d"}
s2={"e","f"}

In [146]:
s3=s2.union(s1)   # returns all items from both the sets.
s3

{'a', 'b', 'c', 'd', 'e', 'f'}

## LU Team include explaination in class for the function of this

In [149]:
s1.update(s2)   # updating s1 with s2 : only s1 gets updated & s2 same with different order ?
print(s1)
print(s2)

{'d', 'c', 'a', 'f', 'b', 'e'}
{'f', 'e'}

In [150]:
s2.update(s1)  # updating s2 with s1 : both the set get updated unorderly
print(s1)
print(s2)

{'d', 'c', 'a', 'f', 'b', 'e'}
{'c', 'a', 'd', 'b', 'f', 'e'}

### Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.


Input Format:
The first line contains n-1 numbers with each number separated by a space.

Output Format:
Print the missing number

Example:
Input:1 2 4 6 3 7 8

Output:5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [164]:
input_list = list(map(int, input("Enter values by separating them with space: ").split()))

for i in range(1, input_list[-1]):
    if i not in input_list :
        print("The missing value is : ", i)

Enter values by separating them with space: 1 2 5 4 8
The missing value is :  3
The missing value is :  6
The missing value is :  7

###  Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

Example:
If the input list is
12 24 35 24 88 120 155 88 120 155

Then the output should be
12 24 35 88 120 155

Explanation:
Third, seventh and ninth element of the list L has been removed because it was already present.

Input Format:
In one line take the elements of the list L with each element separated by a space.

Output Format:
Print the elements of the modified list in one line with each element separated by a space.

Example:
Input: 12 24 35 24
Output:
12 24 35

In [173]:
list1 = list(input("Please enter values: ").split())
list2 = []

for i in list1:
    if i not in list2:
        list2.append(i)

print("\nThe original list by user is :", list1)
print("\nThe unique sorted list is :", list2)

Please enter values: 12 35 25 47 12 33 17 35

The original list by user is : ['12', '35', '25', '47', '12', '33', '17', '35']

The unique sorted list is : ['12', '35', '25', '47', '33', '17']